[Unit]
Description=Go Web App
After=network.target

[Service]
ExecStart=/home/laborant/main
Restart=always
User=laborant

[Install]
WantedBy=multi-user.target

