[Unit]
Description=Go Application Service
After=network.target

[Service]
ExecStart=/home/ec2-user/main
Restart=always
User=ec2-user
Environment=PORT=4444

[Install]
WantedBy=multi-user.target

